### Branching(if / elif / else)

In [54]:
marks =69
if marks >= 60 and marks <=100:
    if marks >= 70:
        
        print('Distinction with first class')
    else:
        print('First Class')
elif marks >=50 and marks <60:
    print('Second Class')
elif marks >=35 and marks <50:
    print('Third class')
else:
    print('Fail')

First Class

In [55]:
marks =82
if marks >= 60 and marks <=100:
    if marks >= 70:
        
        print('Distinction with first class')
    else:
        print('First Class')
elif marks >=50 and marks <60:
    print('Second Class')
elif marks >=35 and marks <50:
    print('Third class')
elif marks <35 and marks >=0:
    print('Fail')
else:
    print ('something went wrong')

Distinction with first class

In [56]:
a = 10

b = 100

c = 120

if a > b and a > c :
    print ('a is greatest number')
elif b > a and b > c :
    print ('b is greatest number')
else:
    print('c is greatest number')

c is greatest number

In [57]:
a = 100

b = 100

c = 10

if a > b and a > c :
    print ('a is greatest number')
elif b > a and b > c :
    print ('b is greatest number')
elif c > a and c > b:
    print('c is greatest number')
else:
    print('something went wrong')

something went wrong

In [59]:
scores = [25,89,65,82,36,47,205,98,100,80,78,79,65]
for marks in scores:
    if marks >= 60 and marks <=100:
        if marks >= 70:
        
            print('Distinction with first class')
        else:
            print('First Class')
    elif marks >= 50 and marks < 60:
        print('Second Class')
    elif marks >=35 and marks <50:
        print('Third class')
    elif marks <35 and marks >=0:
        print('Fail')
    else:
        print ('something went wrong')

Fail
Distinction with first class
First Class
Distinction with first class
Third class
Third class
something went wrong
Distinction with first class
Distinction with first class
Distinction with first class
Distinction with first class
Distinction with first class
First Class

In [61]:
daily_sales = [100,150,250,520,480,220,880,1200]
income_till_date = 0
for val in daily_sales:
    income_till_date = income_till_date + val
    print('Income till date =>', income_till_date)
print('the total weekly income is == >>',income_till_date)

Income till date => 100
Income till date => 250
Income till date => 500
Income till date => 1020
Income till date => 1500
Income till date => 1720
Income till date => 2600
Income till date => 3800
the total weekly income is == >> 3800

In [3]:
digits = [10,20,30,40,50,66]

for i in digits:
    print(i)
else:
    print('no items left')

10
20
30
40
50
66
no items left

In [ ]:
n = 5
sum = 0

i = 1
while i <= n:
    sum = sum + i
    i = i + 1
    print (sum)
    print ('The sum is sum', sum)

### LIST COMPREHENSION

In [6]:
# for get the output in list

In [7]:
sal = [12000,18000,10000,20000,35000,45000,90000]
sal = [val for val in sal if val> 15000]
print (sal)

[18000, 20000, 35000, 45000, 90000]

In [1]:
n = 5
# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1 # update counter
    print(sum)
print('The sum is', sum)

1
3
6
10
15
The sum is 15

In [2]:
# self done
n = 350
# initialize sum and counter
sum = 0
i = 17
while i <= n:
    sum = sum + i
    i = i + 9 # update counter
    print(sum)
print('The sum is', sum)

17
43
78
122
175
237
308
388
477
575
682
798
923
1057
1200
1352
1513
1683
1862
2050
2247
2453
2668
2892
3125
3367
3618
3878
4147
4425
4712
5008
5313
5627
5950
6282
6623
6973
The sum is 6973

### FOR LOOP  AND WHILE LOOP

for loop = when we know how many times the code will be executed,  
while loop = When we do not know how many times the code will be executed.

### BREAK AND CONTINUE statement

the break stop the program when the conditions false
but the continue statements continue the over the block yet the condotions false

### break

In [7]:
# using break
place = ['patna', 'delhi', 'allahabad', 'hyderabad', 'bhopal', 'noida', 'gurgaun']
for val in place:
    if val == 'hyderabad':
        break
    print(val)

patna
delhi
allahabad

In [14]:
# using break
sal = [12000,18000,10000,20000,35000,45000,90000,2500,17000,14000,8000]
for val in sal:
    if val > 20000:
        break
    print(val)

12000
18000
10000
20000

### continue

In [8]:
# using continue
place = ['patna', 'delhi', 'allahabad', 'hyderabad', 'bhopal', 'noida', 'gurgaun']
for val in place:
    if val == 'hyderabad':
        continue
    print(val)

patna
delhi
allahabad
bhopal
noida
gurgaun

In [13]:
# using continue
sal = [12000,18000,10000,20000,35000,45000,90000,2500,17000,14000,8000]
for val in sal:
    if val > 20000:
        continue
    print(val)

12000
18000
10000
20000
2500
17000
14000
8000

### The range() function
by using this we can generate a sequence.
the range function (starting, ending & step size)

In [20]:
print (range (10)) # only range value is here by deffault starting point added and it's 0

range(0, 10)

In [16]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
print(list(range(1,10))) # here [starting point(included) & ending point(excluded)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
print(list(range(0,50,5))) # here (starting point=0, end point=50 & range=5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [23]:
increment = range(2,57,3)

In [25]:
increment

range(2, 57, 3)

To find the list in decending order take the negative range value

In [32]:
reverse = list(range(100,22,-5))

In [33]:
reverse

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25]